#services {
    padding: 3rem 0;
}

.services__row {
    width: 62%;
}

.services__card {
    background-color: #b9fd50;
}

.services__header {
    height: 6rem;
    min-height: 6rem;
}

.sevices__img {
    height: 3rem;
}


@media(max-width: 1200px) {
    .services__row {
        width: 75%;
    }
}

@media(max-width: 991px) {
    .services__row {
        width: 85%;
    }
}

@media (max-width: 768px) {
    #services {
        padding: 2rem 0;
    }

    .services__row {
        width: 100%;
    }

    .services__card {
        background-color: #000000;
    }

    .sevices__img {
        height: 1.7rem;
    }

    .services__header {
        height: auto !important;
        min-height: auto !important;
        margin-bottom: 1rem;
    }

    .services__heading {
        color: #FFFFFF !important;
    }
}