#testimonial {
    padding: 3rem 0;
}

.testimonial__slider {
    width: 75% !important;
    margin: 0 auto;
}

.testimonial__item {
    background-color: #eaeaea;
}

.testimonial__img {
    height: 5rem;
    width: 5rem;
}

.testimonial__userImg {
    height: 14rem;
    width: 14rem;
    margin: 0 auto;
}

.testimonial__userImg img {
    object-position: top;
}

.rel-slide-icon li:nth-child(1) {
    top: 50%;
    left: -5rem;
}

.rel-slide-icon li:nth-child(2) {
    top: 50%;
    right: -5rem;
}

@media (max-width: 991px) {
    .testimonial__slider {
        width: 90% !important;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    #testimonial {
        padding: 2rem 0 3rem;
    }

    .rel-slide-icon li:nth-child(1),
    .rel-slide-icon li:nth-child(2) {
        display: none;
    }
}