main {
  padding-top: 3.7rem;
}

/*FONT SIZE*/
.fs-10px {
  font-size: 10px !important;
}

.fs-11px {
  font-size: 11px !important;
}

.fs-12px {
  font-size: 12px !important;
}

.fs-13px {
  font-size: 13px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.fs-15px {
  font-size: 15px !important;
}

/*FONT WEIGHT*/
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

/* COLORS */
.text-green {
  color: #b9fd50 !important;
}

/* BACKGROUNDS */
.bg-green {
  background-color: #b9fd50 !important;
}

/* BUTTONS */
.btn-green {
  background-color: #b9fd50 !important;
  color: #212529 !important;
}

.btn-black {
  background-color: #414141 !important;
  color: #FFFFFF !important;
}

/*CURSORS*/
.cursor-pointer {
  cursor: pointer !important;
}

/* MIN-HEIGHTS */
.min-h-100 {
  min-height: 100% !important;
}